<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <h1 class="text-center my-4 text-primary">Adminlar Sozlamalari</h1>
                    <div class="card-body text-center">
                        <h3 class="text-center my-4">Admin Qo'shish</h3>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#modal-create">
                            Qo'shish
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modal-create" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                                        Admin Qo'shish</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <form class="col-12 m-auto" class="forms-sample" action="/create/admin/"
                                    method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Ism Familiya</label>
                                            <input required type="text" class="form-control"
                                                placeholder="Qavat kirit" name="fullname" value="{{fullname}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input required type="text" class="form-control"
                                                placeholder="Qavat kirit" name="username" value="{{username}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input required type="password" class="form-control"
                                                placeholder="Qavat kirit" name="password" value="{{password}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Tell raqami</label>
                                            <input required type="text" class="form-control"
                                                placeholder="Qavat kirit" name="phone" value="{{phone}}">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Qaytish</button>
                                        <button type="submit" class="btn btn-primary">Saqlash</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <h3 class="text-center my-4">TATU TTJ dagi qavatlar</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Ism Familiya
                                        </th>
                                        <th>
                                            Username
                                        </th>
                                        <th>
                                            Password
                                        </th>
                                        <th>
                                            Phone
                                        </th>
                                        <th>
                                            O'zgartirish
                                        </th>
                                        <th>
                                            O'chirish
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each admins}}
                                    <tr>
                                        <td class="py-1">
                                            {{fullname}}
                                        </td>
                                        <td>
                                            {{username}}
                                        </td>
                                        <td>
                                            {{password}}
                                        </td>
                                        <td>
                                            <a href="tel:{{phone}}">{{phone}}</a>
                                        </td>
                                        <td>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-inverse-primary" data-bs-toggle="modal"
                                                data-bs-target="#modal{{_id}}">
                                                O'zgartirish
                                            </button>

                                        </td>
                                        <td>
                                            <form action="/delete/admin/{{_id}}" method="POST">
                                                <button class="btn btn-inverse-danger">O'chirish</button>
                                            </form>
                                        </td>
                                    </tr>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modal{{_id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                                                        Talaba malumotlarini o'zgartirish</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <form class="col-6 m-auto" class="forms-sample"
                                                    action="/update/admin/{{_id}}" method="post">
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Ism Familiya</label>
                                                            <input required type="text" class="form-control"
                                                                placeholder="Qavat kirit" name="fullname"
                                                                value="{{fullname}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Username</label>
                                                            <input required type="text" class="form-control"
                                                                placeholder="Qavat kirit" name="username"
                                                                value="{{username}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Password</label>
                                                            <input required type="password" class="form-control"
                                                                placeholder="Qavat kirit" name="password"
                                                                value="{{password}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Tell raqami</label>
                                                            <input required type="text" class="form-control"
                                                                placeholder="Qavat kirit" name="phone"
                                                                value="{{phone}}">
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Qaytish</button>
                                                        <button type="submit" class="btn btn-primary">Saqlash</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>